{% load static %}
<style>
    .innder-sidebar-wrapper {
        background-color: #fff !important;
    }

    .innder-sidebar-wrapper h6:hover {
        color: #333;
        text-decoration: underline;
    }
</style>
<div class="col-lg-4 col-md-4 col-sm-6 mt-5">
    <div class="w-100 p-3 innder-sidebar-wrapper ml-5">
        <h5 class="font-weight-bold">Our Latest programs</h5>
        <hr />
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{% static 'userstatic/img/landing_page/mala.jpg' %}" class="card-img img-fluid"
                        alt="blogImage">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <a href="" style="text-decoration: none;">
                            <h6 class="card-title text-dark font-weight-bold">
                                Meaning of the mantra OM MANI PADME HUM
                            </h6>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-1" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{% static 'userstatic/img/landing_page/mala.jpg' %}" class="card-img img-fluid"
                        alt="blogImage">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <a href="" style="text-decoration: none;">
                            <h6 class="card-title text-dark font-weight-bold">
                                Meaning of the mantra OM MANI PADME HUM
                            </h6>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>