{% load static %}
<style>
    .odal .modal-dialog-aside .modal-content {
        z-index: 9999 !important;
    }
</style>
<div id="modal_aside_right" class="modal fixed-right fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-aside" role="document">
        <div class="modal-content">
            <div class="modal-header p-5 m-2">
                <h4>Your cart</h4>
                <a href="" class="close " data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="font-weight-bold">&times;</span>
                </a>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>