<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{object.title|capfirst}}</h5>
    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
</div>
<form class="form" method="POST" action="{% url 'umapp:adminsliderdelete' object.id %}">
	{% csrf_token %}
	<div class="modal-body">
	    	<p>Are you sure you want to delete slider {{object.title}}?</p>
	</div>
	<div class="modal-footer">
	    <button class="btn btn-primary ml-2" type="submit">Delete</button>
	    <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
	</div>
</form>
