{% load static %}
<div class="product-catalog">
    <div class="hr-sect">
        <h4><span>Product Catalog</span></h4>
    </div>
    <div class="row mt-5 pt-3">
        <div class="col-xl-4 col-lg-4 col-sm-6 col-xs-12 mb-5">
            <div class="card bg-dark">
                <div class="embed-responsive embed-responsive-16by9">
                    <img alt="Card image cap" class="card-img-top embed-responsive-item"
                        src="{% static 'userstatic/img/landing_page/bowl.jpg' %}" />
                </div>
                <div class="card-img-overlay card-overlay">
                    <h3 class="card-title">Singing bowl</h3>
                    <p class="card-text">18 items</p>
                    <button class="btn btn-button py-2 px-4">Buy now</button>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-sm-6 col-xs-12 mb-5">
            <div class="card bg-dark">
                <div class="embed-responsive embed-responsive-16by9">
                    <img alt="Card image cap" class="card-img-top embed-responsive-item"
                        src="{% static 'userstatic/img/landing_page/bell.jpg' %}" />
                </div>
                <div class="card-img-overlay card-overlay">
                    <h3 class="card-title">Tibetan bell</h3>
                    <p class="card-text">18 items</p>
                    <button class="btn btn-button py-2 px-4">Buy now</button>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-sm-6 col-xs-12 mb-5">
            <div class="card bg-dark">
                <div class="embed-responsive embed-responsive-16by9">
                    <img alt="Card image cap" class="card-img-top embed-responsive-item"
                        src="{% static 'userstatic/img/landing_page/mala.jpg' %}" />
                </div>
                <div class="card-img-overlay card-overlay">
                    <h3 class="card-title">Mala</h3>
                    <p class="card-text">18 items</p>
                    <button class="btn btn-button py-2 px-4">Buy now</button>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-sm-6 col-xs-12 mb-5">
            <div class="card bg-dark">
                <div class="embed-responsive embed-responsive-16by9">
                    <img alt="Card image cap" class="card-img-top embed-responsive-item"
                        src="{% static 'userstatic/img/landing_page/censers.jpg' %}" />
                </div>
                <div class="card-img-overlay card-overlay">
                    <h3 class="card-title">Incense</h3>
                    <p class="card-text">18 items</p>
                    <button class="btn btn-button py-2 px-4">Buy now</button>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-sm-6 col-xs-12 mb-5">
            <div class="card bg-dark">
                <div class="embed-responsive embed-responsive-16by9">
                    <img alt="Card image cap" class="card-img-top embed-responsive-item"
                        src="{% static 'userstatic/img/landing_page/statue.png' %}" />
                </div>
                <div class="card-img-overlay card-overlay">
                    <h3 class="card-title">Statue</h3>
                    <p class="card-text">18 items</p>
                    <button class="btn btn-button py-2 px-4">Buy now</button>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-sm-6 col-xs-12 mb-5">
            <div class="card bg-dark">
                <div class="embed-responsive embed-responsive-16by9">
                    <img alt="Card image cap" class="card-img-top embed-responsive-item"
                        src="{% static 'userstatic/img/landing_page/gong.jpg' %}" />
                </div>
                <div class="card-img-overlay card-overlay">
                    <h3 class="card-title">Gong</h3>
                    <p class="card-text">18 items</p>
                    <button class="btn btn-button py-2 px-4">Buy now</button>
                </div>
            </div>
        </div>
    </div>
</div>