{% load static %}
<!-- landing page style -->
<link rel="stylesheet" type="text/css" href="{% static 'userstatic/css/navbar/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'userstatic/css/landing_page/carousel/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'userstatic/css/landing_page/category/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'userstatic/css/landing_page/cta/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'userstatic/css/landing_page/featureProduct/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'userstatic/css/landing_page/description/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'userstatic/css/landing_page/footer/style.css' %}">