{% load static %}

<div class="container-fluid cta-container" style="background-color: #e9ecef">
  <div class="cta-wrapper">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <img
          src="{% static 'userstatic/img/landing_page/bowl2.jpg' %}"
          alt=""
        />
      </div>
      <div class="col-lg-6 col-sm-12 pt-5 mt-5">
        <p class="welcome">welcome to himalaya tibet</p>
        <h1 class="" style="color: #8e6633">
          Sign Up to get <span class="off-percent">15% OFF</span> on your first
          purchase!
        </h1>
        <a href="#" class="btn" style="border-radius: 1px !important"
          >Get 15% off</a
        >
      </div>
    </div>
  </div>
</div>
