{% load static %}
<div class="description">
    <div class="description_wrapper">
        <div class="row">
            <div class="col-lg-6 col-sm-12 image-block gsap">
                <img src="{% static 'userstatic/img/landing_page/thangka.jpg' %}" height=370 alt="">
            </div>
            <div class="col-lg-6 col-sm-12 detail-block description-txt">
                <div class="gs-reveal gs-reveal-fromRight">
                    <h2>Thangka</h2>
                    <p>
                        A thangka, variously spelt as thangka, tangka, thanka, or tanka (Nepali pronunciation:
                        [ˈt̪ʰaŋka];
                        Tibetan: ཐང་ཀ་; Nepal Bhasa: पौभा), is a Tibetan Buddhist painting on cotton, silk appliqué,
                        usually
                        depicting a Buddhist deity, scene, or mandala.
                    </p>
                    <a href="#" class="btn btn-rounded cta-btn">BUY NOW</a>
                </div>

            </div>
            <div class="col-lg-6 col-sm-12 detail-block description-txt">
                <div class="gs-reveal gs-reveal-fromLeft">
                    <h2>Thangka</h2>
                    <p>
                        A thangka, variously spelt as thangka, tangka, thanka, or tanka (Nepali pronunciation:
                        [ˈt̪ʰaŋka];
                        Tibetan: ཐང་ཀ་; Nepal Bhasa: पौभा), is a Tibetan Buddhist painting on cotton, silk appliqué,
                        usually
                        depicting a Buddhist deity, scene, or mandala.
                    </p>
                    <a href="#" class="btn btn-rounded cta-btn">BUY NOW</a>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 image-block">
                <img src="{% static 'userstatic/img/landing_page/thangka.jpg' %}" height=370 alt="">
            </div>
        </div>
    </div>
</div>
<script>
    // ScrollReveal().reveal('.headdescription-txt');
</script>