{% load static %}
<style>
    .motivational-container {
        background-color: rgb(115, 16, 45);
        height: auto;
        min-height: 200px;

        background-size: cover;
        background-attachment: scroll;
        left: 50%;
        top: 0px;
    }

    .motivational-wrapper {
        width: 85%;
        margin: 0px auto;
    }

    .motivational-container p {
        font-size: 22px;
        text-align: center;
    }

    .motivational-container {
        padding: 100px 0;
    }
</style>
<div class="container-fluid motivational-container">
    <div class="motivational-wrapper reveal">
        <p class="text-light">"At Himalyan Tibet, our mission is to provide authentic, high-quality Dharma items from
            around the world that support your spiritual practice. From one practitioner to another, we know the path
            can have its challenges.
            We make getting Dharma items the easy part so you can keep going"</p>
        <h4 class="text-center text-light">Syam Tamang</h4>
    </div>
</div>
<!-- <script>
    window.addEventListener('scroll', reveal);

    function reveal() {
        var reveals = document.querySelectorAll('.reveal')

        for (var i = 0; i < reveals.length; i++) {

            var windowheight = window.innerHeight;
            var revealtop = reveals[i].getBoundingClientRect().top;
            var revelapoint = 100;

            if (revealtop < windowheight - revelapoint) {
                reveals[i].classList.add('active');
            } else {
                reveals[i].classList.remove('active');
            }
        }
    }
</script> -->